*.o
*.lo
*.la
.libs/
.deps/
*.pc
*.gir
*.typelib

INSTALL
configure
*.guess
Makefile
*.in
*.m4
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.make
autom4te.cache/
compile
config.h
config.log
config.status
config.sub
depcomp

*.stamp

vgdump
